@font-face {
    font-family: GothamBold;
    src: url(~/assets/fonts/Gotham/GothamBold.ttf) format("truetype");
}

@font-face {
    font-family: GothamBook;
    src: url(~/assets/fonts/Gotham/GothamBook.ttf) format("truetype");
}
