/* screen */
$desktop-container: 1200px;
$desktop: 960px;
$tablet:  959px;
$tablet-min: 768px;

/* font */
$font-size-base: 14px;
$font-color-base: $black;

$body-color-base: $white;

/* header */
$desktop-header: 99px;
$mobile-header: 73px;

$min-vw : 360px;
$max-vw : 1440px;